@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@1,300&display=swap');

*{
  font-family: 'Cormorant Infant', serif;
  line-height: 1.6;
  letter-spacing: 2px;
}
h1{
  font-weight: 900;
}
h1, h2, h3{
  font-family: 'Cormorant Infant', serif;
  line-height: 1.6;
  letter-spacing: 2px;
}
body, html {height: 100%}
p {
  line-height: 2;
  font-size: 1.4rem;
}
p span.important{
  font-weight: 800;
  font-style: italic;
}
.bgimg, .bgimg2 {
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
.bgimg {background-image: url("images/pexels-trung-nguyen-2959192.jpg")}
.bgimg2 {background-image: url("images/pexels-emma-bauso-2253842.jpg")}
#us, #wedding, #rsvp, #info{
  background-color: #ffdfc3;
}
/*#rsvp{
  background-color: #e8ebeb; 
}*/
.map{
  background-color: rgb(247, 241, 241);
}
h1.w3-jumbo, header h2, .bgimg2 h2{
  text-shadow: 5px 5px rgba(0, 0, 0, 0.808);
}

#date, #timer {
  font-size: 1.5rem;
  font-weight: 900;
  text-shadow:2px 2px 0 #444;
}
#date{
  margin-bottom: 55px;
}
#timer{
  margin-bottom: 105px;
}
#timeLeft{
  font-size: 2rem;
  font-weight: 900;
  text-shadow:2px 2px 0 #444;
  margin-bottom: 155px;
}

#program h1, #info h1{
  padding-top: 50px;
  padding-left: 10px;
  font-size: 3.5rem;
}
#program{
  margin: 0;
  padding-top: 0;
  background-color: #ffdfc3;
}
img.program{
  width: 40%;
}
.w3-image{
  max-width: 600px;
}

@media(max-width:600px){
  img.program{
    width: 80%;
  }
  #timeLeft{
    padding-bottom: 190px;
    margin-bottom: 140px;
  }
  #timer{
    margin-bottom: 190px;
  }

  #program h1{
    font-size: 2rem;
  }
}